<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{../style.css}">

    <script src="https://kit.fontawesome.com/5f076fdad0.js" crossorigin="anonymous"></script>

    <title>Sprinkles</title>
</head>
<body>
    <nav class="site-nav navbar navbar-expand navbar-light fixed-top">
        <div class="container-fluid">
            <a th:href="@{/}" class="navbar-brand">Sprinkles</a>
            <div class="navbar-collapse collapse text-center" id="nav-toggle">
                <div class="navbar-nav ml-auto">
                    <a href="https://github.com/Danieldosti51/discord-bot-application"
                       class="nav-item nav-link">Source Code</a>
                    <a href="https://discord.com/api/oauth2/authorize?client_id=555090330727350294&permissions=3148864&scope=bot"
                       class="invite-button nav-item nav-link">Invite Me</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid d-flex flex-column justify-content-center vh-100 text-center">
        <main>
            <h1 class="display-4">Your <em>favourite</em> discord bot</h1>
            <form action="#" th:action="@{/queue}">
                <div id="search-container" class="d-flex">
                    <input type="text" name="id" th:name="id" placeholder="Server ID">
                    <button id="search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>